<ul class="sidebar navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" href="/admin">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Tổng quan</span>
        </a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-car" aria-hidden="true"></i>
            <span>Tuyến xe</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="/province-trip">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                <span>Xe đi tỉnh</span>
            </a>
            <a class="dropdown-item" href="/forgot-password">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                <span>Xe đi tour</span>
            </a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/tables">
            <i class="fas fa-fw fa-table"></i>
            <span>Bảng giá</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/users">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <span>Người dùng</span></a>
    </li>
</ul>
