<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container main-menu">
        <a class="navbar-brand">
            <img src="app/assets/images/logos/LogoSample_ByTailorBrands.jpg" height="90" width="90" alt="Logo"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-uppercase" id="navbarResponsive">
            <ul class="navbar-nav ml-auto" style="width: 100%">
                <li class="phone-number">
                    <a href="#"><i class="fa fa-phone-square" aria-hidden="true"></i> 0911 508 511</a>
                </li>
                <li class="nav-item">
                    <a id="fade_success" class="nav-link" href="#">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Bảng giá</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Đi tỉnh</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Đi tour</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Liên hệ</a>
                </li>
                <hr class="under-line-menu"/>
            </ul>
        </div>
    </div>
</nav>
